<html lang="en" , data-theme="nord">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='custom.css')}}" />
</head>
<title>UMD(C)</title>

<body class="p-0 font-mono">
    <div class="flex flex-col items-center w-screen h-screen">
        <!-- navbar -->
        <div class="navbar bg-base-100 sticky top-0 w-full h-20 p-0">
            <div class="flex-1">
                <a class="btn btn-ghost text-3xl ml-4" href="{{url_for('trips.index')}}">
                    UMD{C}
                </a>
            </div>
            {% if current_user.is_authenticated %}
                <details class="flex-none dropdown dropdown-bottom dropdown-end">
                    <ul class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
                        <a class="btn btn-ghost text-lg" href="{{url_for('users.account')}}">
                            {{current_user.username}}
                        </a>
                        <a class="btn btn-ghost text-lg" href="{{url_for('users.logout')}}">
                            Logout
                        </a>
                    </ul>
                    <summary class="mr-4 btn">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
                    </summary>
                </details> 
            {% else %}
                <a class="mr-4 btn btn-ghost text-lg" href="{{url_for('users.login')}}">
                    Login
                </a>
            {% endif %}
        </div>
        <!-- end navbar -->
        
        <!-- content -->
        {% block content %}{% endblock %}
        <!-- end content -->
    </div>
</body>

</html>