{% extends 'base.html' %} 

{% block content %}
<div class="w-full h-full flex items-center">
    <!-- form -->
    <div class="w-full h-content flex flex-col items-center mx-auto">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div>
                        <span class="text-red-600">{{ message }}</span>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!-- start form -->
        <form class="mx-auto gap-y-2 flex flex-col items-center" method="POST" action="/">
            {% if form.title.errors %}
                {% for error in form.title.errors %}
                    <div>
                        <span class="text-red-600">{{ error }}</span>
                    </div>
                {% endfor %}
            {% endif %}
            {{ form.csrf_token }}
            {{ form.title(class="input input-bordered w-full max-w-xs", placeholder="Trip Name (no spaces)") }}
            {{ form.depart_cp(class="input input-bordered w-full max-w-xs", placeholder="Departure Time") }}
            {{ form.submit(class="btn btn-ghost text-lg mx-auto") }}
        </form>
    </div>
    <!-- end form -->
</div>

<!-- github -->
<a class="w-fit h-fit font-mono text-sm text-blue-400" href="https://github.com/ptrichr/388J-Final/tree/master">
    View the Repository Here!
</a>
<!-- end github -->
{% endblock %}