{% extends 'base.html' %} 

{% block content %}
<div class="mx-auto flex flex-col gap-y-2">
    <div class="mx-auto"> 
        If you don't have an account, 
        <a class="text-blue-400 underline" href="{{url_for('users.register')}}">register here</a>
    </div>
    <form class="mx-auto" method="POST" action="">
        {{ form.csrf_token }}
        {{ form.username(placeholder="username") }}
        {{ form.password(placeholder="password") }}
        {{ form.submit() }}
    </form>
</div>
{% endblock %}