{% extends 'base.html' %} 

{% block content %} 
<!-- 
  - render form on a bar on the left side
  - render each poi in a box
  - below each poi render an arrow to a box (or to boxes if there are multiple steps) 
   that has the route information
  - aka what line, what headsign, and the stations to get on and off at
  - and then another arrow under that where the next poi will be rendered --> 
<div class="w-screen h-full flex flex-row mx-auto">

  <!-- form container --> 
  <div class="flex mx-auto w-1/3 h-fit">
    <form class="mx-auto flex flex-col" method="POST">
      {{ form.csrf_token }}
      {{ form.poi() }}
      {{ form.depart() }}
      {{ form.submit() }}
    </form>
  </div>
  <div class="flex flex-col flex-wrap items-center">
    {% for pair in info %}
      <div class="flex">
        <b >{{ pair[0]['name'] }}</b>
        <b >{{ pair[0]['departure'] }}</b>
        <!-- pair[1] is a dictionary -->
        {% if pair[1]['route'] %}
          {% for step in pair[1]['route'] %}
            <b>{{ step['line_info']['line'] }}</b>
            <b>{{ step['from']['name'] }}</b>
            <b>{{ step['to']['name'] }}</b>
          {% endfor %}
        {% else %}
          <b>ur walking buddy</b>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}