# root
/venv
/.env
/**/__pycache__

# flask app
/flask_app/config.py
/flask_app/ex_filtered_resp.txt
/flask_app/testing/

# tailwind
/tailwind/node_modules
/tailwind/package-lock.json
/tailwind/package.json